@model WissenstestOnlineWebseite.Models.AntwortDatePicker_Model

<div class="container">
    <div class="form-group" id="antwortDateEingabe">
        <h4>Datum:</h4>
        <input class="form-control datepicker" id="datepickerPractice" type="date" />
    </div>
</div>
