@model WissenstestOnlineWebseite.Models.AntwortCheckBox_Model

<div class="container" id="checkBoxes">

    @foreach (var checkBox in @Model.CheckBoxen)
    {
        <div class="checkbox">
            <label id="cb_@checkBox.CheckboxID"><input type="checkbox" id="@checkBox.CheckboxID" class="checkboxInput" />@checkBox.Inhalt</label>
        </div>
    }

    <div style="display: none;" id="rightValCheckBox">
        <h5><span style="font-weight: bold">Richtige Antwort: </span></h5>
        <ul>
            @foreach (var checkBox_rightVal in Model.CheckBoxen_RightVal)
            {
                <li>@checkBox_rightVal.Inhalt</li>
            }
        </ul>
    </div>

</div>