@model WissenstestOnlineWebseite.Models.AntwortCheckBox_Model

<div class="container" id="checkBoxes">

    @foreach (var checkBox in @Model.CheckBoxen)
    {
        <div class="checkbox">
            <label id="cb_@checkBox.CheckBox_Id"><input type="checkbox" id="@checkBox.CheckBox_Id" class="checkboxInput" />@checkBox.Content</label>
        </div>
    }

</div>