@model WissenstestOnlineWebseite.Models.AntwortText_Model

<div class="container">
    <div class="form-group" id="antwortTextEingabe">
        <h4>Eingabe:</h4>
        <input class="form-control" type="text" id="textantwort" />
    </div>

    <div style="display: none;" id="rightValText">
        <h5><span style="font-weight: bold">Richtige Antwort: </span>@Model.Antwort_text</h5>
    </div>

</div>