@model WissenstestOnlineWebseite.Models.AntwortDatePicker_Model

<div class="container">
    <div class="form-group" id="antwortDateEingabe">
        <h4>Datum:</h4>
        <input class="form-control datepicker" id="datepickerPractice" type="date" />
    </div>

    <div style="display: none;" id="rightValDatePicker">
        <h5><span style="font-weight: bold;">Richtige Antwort: </span>@Model.Datum.Day.@Model.Datum.Month.@Model.Datum.Year</h5>
    </div>

</div>
