@model WissenstestOnlineWebseite.Models.AntwortRadioButtons_Model

<div class="container">

    @foreach (var radioButton in @Model.RadioButtons)
    {
        <div class="radio">
            <label><input type="radio" name="gruppe" id="@radioButton.Radio_Id" /> @radioButton.Content</label>
        </div>
    }

</div>