@model WissenstestOnlineWebseite.Models.AntwortCheckBox_Model

<div class="container">

    @foreach (var checkBox in @Model.CheckBoxen)
    {
        <div class="checkbox">
            <label><input type="checkbox" id="@checkBox.CheckBox_Id" />@checkBox.Content</label>
        </div>
    }

</div>