@{
    ViewData["Title"] = "Lernmodus";
}

<div class="container">


    <div class="well" style="margin-top:15px;">
        <h3 id="FrageLearn">Hier steht die Frage?</h3>
    </div>
    <hr />
    <div class="well">
        <span id="AntwortLearn">Hier steht die Antwort!</span>
    </div>

    @section footerLearn{
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                <input type="button" id="zusatzinfoLearn" value="?" class="btn btn-lg btn-info showZusatzinfo" />
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <p id="aktuelleStationLearn" class="h3">Station</p>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                <p id="aktuelleFrageCounterLearn" class="h3">88/88</p>
            </div>
        </div>
        <div class="row" style="margin-top: 5px">
            <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                <input type="button" id="cancelAufgabeLearn" value="Abbrechen" class="btn btn-lg btn-danger cancel" />
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
                <div class="btn-group" id="buttonsLernmodus" style="float:right;">
                    <input type="button" id="lastAufgabeLearn" value="Zurück" class="btn btn-lg btn-warning" />
                    <input type="button" id="checkAufgabeLearn" value="Weiter" class="btn btn-lg btn-success" />
                </div>

            </div>
        </div>
    }

</div>

@section scripts{
    <environment names="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js"></script>
    </environment>
}