@{
    ViewData["Title"] = "AufgabeUmgebung";
}
<h3>AufgabeUmgebungPractise</h3>

<div><h3 id="FragePractise">Hier steht die Frage?</h3></div>
<hr />
<div><div id="AntwortPractise">Hier steht die Antwort!</div></div>

<table class="table">
    <tr>
        <td>
            <input type="button" id="zusatzinfoPractise" value="?" class="btn btn-success"/>
        </td>
        <td>
            <span id="aktuelleStationPractise">Station</span>
        </td>
        <td>
            <span id="aktuelleFrageCounterPractise">88/88</span>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id="cancelAufgabePractise" value="Abbrechen" class="btn btn-danger cancel" />
        </td>
        <td></td>
        <td>
            <input type="button" id="checkAufgabePractise" value="Weiter" class="btn btn-success" />
        </td>
    </tr>
</table>
