@{
    ViewData["Title"] = "Übungsmodus";
}

<div class="container">
    <div class="well" style="margin-top:15px;">
        <h3 id="FragePractise">Hier steht die Frage?</h3>
    </div>
    <hr />
    <div class="well">
        <div id="AntwortPractise">Hier steht die Antwort!</div>
    </div>

    @section footerPractice{
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                <input type="button" id="zusatzinfoPractise" value="?" class="btn btn-lg btn-info showZusatzinfo" />
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <p id="aktuelleStationPractise" class="h3">Station</p>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                <p id="aktuelleFrageCounterPractise" class="h3">88/88</p>
            </div>
        </div>

        <div class="row" style="margin-top: 5px">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <input type="button" id="cancelAufgabePractise" value="Abbrechen" class="btn btn-lg btn-danger cancel" />
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                <div class="btn-group" id="buttonsPracticemode" style="float:right;">
                    <input type="button" id="lastAufgabePractice" value="Zurück" class="btn btn-lg btn-warning" />
                    <input type="button" id="checkAufgabePractise" value="Check" class="btn btn-lg btn-success" />
                </div>
            </div>
        </div>
    }


</div>

@section scripts{
    <environment names="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js"></script>
    </environment>
}