@{
    ViewData["Title"] = "AufgabeUmgebung";
}
<h3>AufgabeUmgebungPractise</h3>

<div id="FragePractise"></div>
<hr />
<div id="AntwortPractise"></div>

<table class="table">
    <tr>
        <td>
            <input type="button" id="zusatzinfoPractise" value="?" class="btn btn-success"/>
        </td>
        <td>
            <span id="aktuelleStationPractise">Aktuelle Station</span>
        </td>
        <td>
            <span id="aktuelleFrageCounterPractise">16/75</span>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id="cancelAufgabePractise" value="Abbrechen" class="btn btn-danger" />
        </td>
        <td></td>
        <td>
            <input type="button" id="checkAufgabePractise" value="Weiter" class="btn btn-success" />
        </td>
    </tr>
</table>
