@{
    ViewData["Title"] = "AufgabeUmgebung";
}
<h3>AufgabeUmgebung</h3>

<div id="Frage"></div>
<hr />
<div id="Antwort"></div>

<table class="table">
    <tr>
        <td>
            <input type="button" id="zusatzinfo" value="?" class="btn btn-success"/>
        </td>
        <td>
            <span id="aktuelleStation">Aktuelle Station</span>
        </td>
        <td>
            <span id="aktuelleFrageCounter">16/75</span>
        </td>
    </tr>
</table>

<input type="button" id="cancelAufgabe" value="Abbrechen" class="btn btn-danger"/>
