@{
    ViewData["Title"] = "Lernmodus";
}

<div class="container">


    <div class="jumbotron">
        <h3 id="FrageLearn">Hier steht die Frage?</h3>
    </div>
    <hr />
    <div class="jumbotron">
        <span id="AntwortLearn">Hier steht die Antwort!</span>
    </div>
    <hr />

    @section footerLearn{ 
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <input type="button" id="zusatzinfoLearn" value="?" class="btn btn-info showZusatzinfo" />
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <p id="aktuelleStationLearn">Station</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <p id="aktuelleFrageCounterLearn">88/88</p>
        </div>
    </div>
    <div class="row" style="margin-top: 5px">
        <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
            <input type="button" id="cancelAufgabeLearn" value="Abbrechen" class="btn btn-danger cancel" />
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6">
            <div class="btn-group" id="buttonsLernmodus" style="float:right;">
                    <input type="button" id="lastAufgabeLearn" value="Zurück" class="btn btn-warning" />
                    <input type="button" id="checkAufgabeLearn" value="Weiter" class="btn btn-success" />
            </div>
            
        </div>
    </div>
        }

</div>
