@{
    ViewData["Title"] = "AufgabeUmgebung";
}
<h3 id="headingLearn">AufgabeUmgebungLearn</h3>

<div id="FrageLearn"></div>
<hr />
<div id="AntwortLearn"></div>

<table class="table">
    <tr>
        <td>
            <input type="button" id="zusatzinfoLearn" value="?" class="btn btn-success"/>
        </td>
        <td>
            <span id="aktuelleStationLearn">Aktuelle Station</span>
        </td>
        <td>
            <span id="aktuelleFrageCounterLearn">16/75</span>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id="cancelAufgabeLearn" value="Abbrechen" class="btn btn-danger" />
        </td>
        <td></td>
        <td>
            <input type="button" id="checkAufgabeLearn" value="Weiter" class="btn btn-success" />
        </td>
    </tr>
</table>
