@{
    ViewData["Title"] = "AufgabeUmgebung";
}

<div><h3 id="FrageLearn">Hier steht die Frage?</h3></div>
<hr />
<div id="AntwortLearn"></div>

<table class="table">
    <tr>
        <td>
            <input type="button" id="zusatzinfoLearn" value="?" class="btn btn-info"/>
        </td>
        <td>
            <span id="aktuelleStationLearn">Aktuelle Station</span>
        </td>
        <td>
            <span id="aktuelleFrageCounterLearn">16/75</span>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id="cancelAufgabeLearn" value="Abbrechen" class="btn btn-danger" />
        </td>
        <td></td>
        <td>
            <table>
                <tr>
                    <td>
                        <input type="button" id="lastAufgabeLearn" value="Zurück" class="btn btn-warning" />
                    </td>
                    <td>
                        <input type="button" id="checkAufgabeLearn" value="Weiter" class="btn btn-success" />
                    </td>
                </tr>
            </table>
            
            
        </td>
    </tr>
</table>
