@{
    ViewData["Title"] = "Ergebnis";
}
<h3>Egebnis Overview</h3>
<div id="results">

</div>

<a class="btn btn-primary" role="button" aria-pressed="true" id="closeResults">Zurück zur Stationsauswahl</a>