@model WissenstestOnlineWebseite.Models.Ergebnis_Model

@{
    ViewData["Title"] = "Ergebnis";
}

<div id="results" class="container">
    <h3>Egebnis Übersicht</h3>

    <h4>Maximal erreichbare Punkte: @Model.Max_Punkte</h4>
    <h4>Erreichte Punkte: @Model.Punkte</h4>
    <h4>Ereichte Punkte in Prozent: @Model.ProzentRichtig%</h4><br />
    <a class="btn btn-primary" role="button" aria-pressed="true" id="closeResults" style="margin-top: 10px;">Zurück zur Stationsauswahl</a>
</div>

