@{
    ViewData["Title"] = "Info";
}
<h2>Wissenstest Informationen</h2>

<h3>Wissenstest Voraussetztung</h3>

<div>Use this area to provide additional information.</div>

<!--Diese Webseite ist dazu gedacht um für den Wissenstest zu lernen und dadurch ein erfolgreiches Ergebnis abzuschließen-->
