@{
    ViewData["Title"] = "Kontakt";
}
<h2 id="headingKontakt">Kontakt</h2>
<h3 id="headingEntwickler">Entwickler</h3>

<address>
    <strong>Lukas Hettmann:</strong> <a href="mailto:luk.hettmann@gmx.at">luk.hettmann@gmx.at</a><br />
    <strong>Manuel Schlagintweit:</strong> <a href="mailto:schloga99@gmx.at">schloga99@gmx.at</a><br />
    <strong>Daniel Roithmayr:</strong> <a href="mailto:daniel.roithmayr@yahoo.com">daniel.roithmayr@yahoo.com</a><br />
</address>
