@{
    ViewData["Title"] = "Kontakt";
}
<h2>Kontakt</h2>
<h3>Entwickler</h3>


<address>
    <strong>Lukas Hettmann:</strong> <a href="mailto:luk.hettmann@gmx.at">luk.hettmann@gmx.at</a><br />
</address>
