@{
    ViewData["Title"] = "Stationsauswahl";
}

<form asp-controller="Main" asp-action="SelectedStation" method="post">


    <div id="InputValueSelectStation">

        <h4 id="headingStationen">Stationen:</h4>

        <select multiple class="form-control" id="stations" asp-items="@ViewBag.Stationen">
        </select>

        <h4>Modus</h4>
        <input type="radio" name="mode" id="lern" value="learn" checked />Lernen<br />
        <input type="radio" name="mode" id="practise" value="practise" />Üben<br />


        <a class="btn btn-primary" role="button" aria-pressed="true" id="SelectStationButton">Starte Quiz</a>

    </div>
    <p id="StationSelectError" style="color: red"></p>

</form>