@{
    ViewData["Title"] = "FF Wissenstest OÖ Startseite";
}


<div class="container">

    <div class="row">
        <div class="col-md-6">

            <!--Eingabemaske-->
            <h2 class="h2" id="headingWissenstest">Wissenstest Online</h2>

            <form>

                <div class="form-group" id="InputValueLogin">
                    <h4 id="headingBezirk">Bezirk</h4>

                    <select id="bezirkSelect" class="form-control">
                        <!--hardcoded -->
                        <option selected value="Braunau">Braunau</option>
                        <option value="Eferding">Eferding</option>
                        <option value="Freistadt">Freistadt</option>
                        <option value="Gmunden">Gmunden</option>
                        <option value="Grieskirchen">Grieskirchen</option>
                        <option value="Kirchdorf">Kirchdorf</option>
                        <option value="Linz">Linz</option>
                        <option value="Linz_Land">Linz-Land</option>
                        <option value="Perg">Perg</option>
                        <option value="Ried">Ried</option>
                        <option value="Steyr">Steyr</option>
                        <option value="Steyr_Land">Steyr-Land</option>
                        <option value="Rohrbach">Rohrbach</option>
                        <option value="Schärding">Schärding</option>
                        <option value="Urfahr_Umgebung">Urfahr-Umgebung</option>
                        <option value="Vöcklabruck">Vöcklabruck</option>
                        <option value="Wels">Wels</option>
                        <option value="Wels_Land">Wels-Land</option>
                    </select>
                </div>

                <div class="form-group">
                    <h4 id="headingFeuerwehr">Feuerwehr</h4>
                    <input type="text" id="FeuerwehrEingabe" class="form-control" placeholder="FF eingeben" />
                </div>


                <div class="form-group">
                    <h4 id="headingStufe">Stufe</h4>

                    <div class="btn-group" data-toggle="buttons" id="stufen">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="stufe" id="StufeBronze" autocomplete="off" value="Bronze" checked>Bronze
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="stufe" id="StufeSilver" autocomplete="off" value="Silber">Silver
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="stufe" id="StufeGold" autocomplete="off" value="Gold">Gold
                        </label>
                    </div>

                </div>

                <a class="btn btn-primary" role="button" id="UserLoginButton">Weiter</a>

                <p id="UserLoginError" style="color: red"></p>

                <!--
                <div class="alert alert-danger alert-dismissible" role="alert" id="UserLoginError">
                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                </div>
                    -->

                <!--
                <hr />
                <h4>Test: @ViewBag.test</h4>
                    -->

            </form>


        </div>
        <div class="col-md-6">

            <!--Kurzinfos-->
            <div class="well" id="kurzinfos">
                <h3 class="h3" id="headingKurzinfos">Kurzinfos</h3>
                <ul>
                    <li>Hier steht eine Kurzinformation!</li>
                    <li>Hier steht eine Kurzinformation!</li>
                    <li>Hier steht eine Kurzinformation!</li>
                    <li>Hier steht eine Kurzinformation!</li>
                    <li>Hier steht eine Kurzinformation!</li>
                    <li>Hier steht eine Kurzinformation!</li>
                </ul>
            </div>

        </div>
    </div>





</div>