@{
    ViewData["Title"] = "FF Wissenstest OÖ Startseite";
}

@model WissenstestOnlineWebseite.Models.Start_Model

<div class="container">
    <div class="row">

        <!--Left Part of the page-->
        <div class="col-md-6">

            <h2 id="headingWissenstest">Wissenstest Online</h2>

            <form asp-controller="Main" asp-action="Start" method="post">
                <div class="form-group" id="InputValueLogin">
                    <h4 id="headingBezirk">Bezirk</h4>
                    <select id="bezirkSelect" class="form-control" asp-items="@Model.BezikeList"></select>
                </div>

                <div class="form-group">
                    <h4 id="headingFeuerwehr">Feuerwehr</h4>
                    <input type="text" id="FeuerwehrEingabe" class="form-control" placeholder="FF eingeben"/>
                </div>


                <div class="form-group">
                    <h4 id="headingStufe">Stufe</h4>

                    <div class="btn-group" data-toggle="buttons" id="stufen">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="stufe" id="StufeBronze" value="Bronze" checked>Bronze
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="stufe" id="StufeSilver" value="Silber">Silver
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="stufe" id="StufeGold" value="Gold">Gold
                        </label>
                    </div>

                </div>

                <a class="btn btn-primary" role="button" id="UserLoginButton">Weiter</a>

                <p id="UserLoginError" class="errorMsg"></p>

            </form>

        </div>


        <!--Right Part of the page-->
        <div class="col-md-6">
            <div class="well" id="kurzinfos">
                <h3 id="headingKurzinfos">Kurzinfos</h3>
                <ul>
                    <li>Hier steht eine Kurzinformation!</li>
                    <li>Hier steht eine Kurzinformation!</li>
                    <li>Hier steht eine Kurzinformation!</li>
                    <li>Hier steht eine Kurzinformation!</li>
                    <li>Hier steht eine Kurzinformation!</li>
                    <li>Hier steht eine Kurzinformation!</li>
                </ul>
            </div>
        </div>

    </div>

</div>