@model WissenstestOnlineWebseite.AdminModels.AdminInfo_Model

<!--AdminDelete-->
<div class="modal fade" id="adminDelete_Modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header MyDangerHeader">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">AdminDelete: @Model.Username</h4>
            </div>
            <div class="modal-body">
                <p><span style="font-weight: bold">Admin ID:</span> <span id="admin_id_delete">@Model.Id</span></p>
                <h5>Soll Benutzer <span style="font-weight: bold">@Model.Username</span> wirklich entfernt werden?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteAdmin">Delete</button>
            </div>
        </div>

    </div>
</div>
