<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="DB_lib.Properties.Settings.Setting" connectionString="Data Source=(localDB)\mssqllocaldb;Initial Catalog=TestDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
