<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=(LocalDb)\MSSQLLocalDb;AttachDbFilename=|DataDirectory|TestDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	  <add name="WissenstestDBEntities" connectionString="metadata=res://*/WissenstestDBModel.csdl|res://*/WissenstestDBModel.ssdl|res://*/WissenstestDBModel.msl;provider=System.Data.SqlClient;provider connection string='data source=SRV-WITE01;initial catalog=WissenstestDB;persist security info=True;user id=&quot;NETWORK SERVICE&quot;;password=56Network731;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
