<div>

    <div class="form-group">
        <h5 style="font-weight: bold">Richtige Antwort:</h5>

        <input placeholder="Richtige Antwort eingeben" class="form-control input-field" type="text" id="new_radiobuttons_rightVal" />

    </div>

    <div class="form-group">
        <h5 style="font-weight: bold">Falsche Antwort(en):</h5>

        <div id="newAntwort_rbText_falsch">
            <div id="newAntwort_rbText_falsch_1">
                <div>
                    <input style="margin-bottom: 5px; float:left;" placeholder="Falsche Antwort eingeben" class="form-control input-field" type="text" />
                    <button class="btn btn-danger delete_RB_falsch_AntwortNeu" id="btn_newAntwort_rbText_falsch_1"><span class="glyphicon glyphicon-remove"></span></button>
                </div><br />
            </div>

        </div>

        <button class="btn btn-success" id="newAntwort_rbText_falsch_addRB"><span class="glyphicon glyphicon glyphicon-plus"></span></button>

    </div>





</div>