
<div>

    <div class="form-group">
        <h5 style="font-weight: bold">Antwort Textfeld:</h5>
        <input placeholder="Antwort Text" class="form-control input-field" type="text" id="textfieldNewAntwortText" />
    </div>

</div>