
<div>
    <div class="form-group">
        <h5 style="font-weight: bold">Minimum:</h5>
        <input placeholder="Minimum eingeben" class="form-control input-field" type="text" id="new_slider_min" />
    </div>

    <div class="form-group">
        <h5 style="font-weight: bold">Maximum:</h5>
        <input placeholder="Maximum eingeben" class="form-control input-field" type="text" id="new_slider_max" />
    </div>

    <div class="form-group">
        <h5 style="font-weight: bold">Sprungweite:</h5>
        <input placeholder="Sprungweite eingeben" class="form-control input-field" type="text" id="new_slider_sprungweite" />
    </div>

    <div class="form-group">
        <h5 style="font-weight: bold">Richtiger Wert:</h5>
        <input placeholder="Richtigen Wert eingeben" class="form-control input-field" type="text" id="new_slider_rightVal" />
    </div>

    <div class="form-group">
        <h5 style="font-weight: bold">Optionaler Titel:</h5>
        <input placeholder="Optionalen Titel eingeben" class="form-control input-field" type="text" id="new_slider_text" />
    </div>
</div>