@model WissenstestOnlineWebseite.Models.AdminOverview_Model

@{
    ViewData["Title"] = "FF Wissenstest OÖ - AdminOverview";
}
<div class="container">

   <h1>Willkommen</h1>

    <!-- UL LI Struktur Liste-->
    <div class="container well">
        <h3>Aufgabenübersicht</h3>


        <form asp-controller="Admin" asp-action="AdminOverview" method="post" style="margin-bottom:10px">
            <div>
                <select class="form-control" id="stations_admin" asp-items="@Model.Stationen" style="float:left;"></select>


                <input type="text" class="form-control input" placeholder="Frage eingeben..." style="float:left;">
                <span class="input-group-btn">
                    <button class="btn btn-info btn" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </form>

            <ul class="list-group">
                @foreach (var aufgabe in Model.Aufgaben)
                {
                    <li class="list-group-item">@aufgabe.Frage.Fragetext</li>
                }
            </ul>

</div>

    <div class="container well">
        <h3>Adminübersicht</h3>

    </div>

</div>
