@model WissenstestOnlineWebseite.Models.AdminOverview_Model

@{
    ViewData["Title"] = "FF Wissenstest OÖ";
}
<div class="container">

   <h1>Willkommen</h1>

    <!-- UL LI Struktur Liste-->
    <div class="container well">
        <h3>Aufgabenübersicht</h3>

        <ul class="list-group">
            @foreach (var aufgabe in Model.Aufgaben) { 
                <li class="list-group-item">@aufgabe.Frage.Fragetext</li>
            }
        </ul>

</div>

    <div class="container well">
        <h3>Adminübersicht</h3>

    </div>

</div>
