@{
    ViewData["Title"] = "FF Wissenstest OÖ";
}
<div class="container">

   <h1>Willkommen</h1>

    <!-- UL LI Struktur Liste-->
    <div class="container well">
        <h3>Aufgabenübersicht</h3>

    </div>

    <div class="container well">
        <h3>Adminübersicht</h3>

    </div>

</div>
