@{
    ViewData["Title"] = "FF Wissenstest OÖ";
}
<div id="InputValueAdminLogin">
    <h4>Admin Login</h4><br />
    <h5 class="h5">Benutzername:</h5><br />
    <input type="text" id="adminUsername"/><br />
    <h5>Passwort:</h5><br />
    <input type="password" id="adminPasswort"/><br />

    <!--<input type="button" value="Login" id="AdminLoginButton" class="btn btn-primary"/>-->
    <a href="AdminOverview" class="btn btn-primary" role="button" aria-pressed="true" id="AdminLoginButton">Login</a>

   

    

</div>
