@model WissenstestOnlineWebseite.AdminModels.AntwortEditMain_Model

<div class="modal fade" id="antwortEdit_Modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header MyWarningHeader">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">AntwortEdit: @Model.AntwortInfo_Model.Antwortname</h4>
            </div>
            <!-- Body Part -->
            <div class="modal-body">

                <h5><span style="font-weight: bold">Antwort ID:</span> <span id="antwortEdit_Id">@Model.AntwortInfo_Model.Antwort_Id</span></h5>

                <div class="form-group">
                    <h5 style="font-weight: bold">Antwortname:</h5>
                    <input placeholder="Antwortname" class="form-control input-field" type="text" value="@Model.AntwortInfo_Model.Antwortname" id="antwortEdit_Antwortname" />
                </div>

                <form asp-controller="Admin" asp-action="GetAntwortEdit" method="post">
                    <div class="form-group" id="InputValueLogin">
                        <h5 id="headingBezirk">Antworttyp:</h5>
                        <select id="bezirkSelect" class="form-control" asp-items="@Model.AntwortEditView_Model.AntwortTypen"></select>
                    </div>
                </form>

                <hr />

                <div>
                    <div id="partialViewAntworten">Here should be the PartialView</div>
                </div>


            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveAntwortChanges">Speichern</button>
            </div>
        </div>

    </div>
</div>
