@model WissenstestOnlineWebseite.AdminModels.AntwortInfo_Model

<div class="modal fade" id="antwortEdit_Modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header MyWarningHeader">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">AntwortEdit: @Model.Antwortname</h4>
            </div>
            <!-- Body Part -->
            <div class="modal-body">

                    <span style="font-weight: bold">Antwort ID:</span> <span id="antwortEdit_Id">@Model.Antwort_Id</span>
                    

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveAntwortChanges">Speichern</button>
            </div>
        </div>

    </div>
</div>
