@model WissenstestOnlineWebseite.AdminModels.FrageInfo_Model

<!--FrageInfo-->
<div class="modal fade" id="frageInfo_Modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header MyInfoHeader">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">FrageInfo: @Model.FrageText</h4>
            </div>
            <div class="modal-body">
                <p><span style="font-weight: bold">Frage ID:</span> @Model.FrageId</p>
                <p><span style="font-weight: bold">Fragetext:</span> @Model.FrageText</p>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
